{%- from "templates/print_formats/standard_macros.html" import add_header -%}
<div class="page-break">
    {%- if not doc.get("print_heading") and not doc.get("select_print_heading")
        and doc.set("select_print_heading", _("Expenses Request")) -%}{%- endif -%}
    {{ add_header(0, 1, doc, letter_head, no_letterhead, print_settings) }}
    {%- for fcol, scol in (
        ((_("Name"), doc.name), (_("Creator"), doc.owner)),
        ((_("Company"), doc.company), (_("Posting Date"), frappe.utils.format_date(doc.posting_date))),
    ) -%}
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <label class="text-left strong">{{ fcol[0] }}</label>
        </div>
        <div class="col-xs-3 col-md-4">{{ fcol[1] }}</div>
        <div class="col-xs-3 col-md-2">
            <label class="text-left strong">{{ scol[0] }}</label>
        </div>
        <div class="col-xs-3 col-md-4">{{ scol[1] }}</div>
    </div>
    {%- endfor -%}
    <hr/>
    <div class="row">
        <div class="col-xs-12 strong">{{ _("Expenses") }}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>{{ _("Expense") }}</th>
                    <th>{{ _("Expense Item") }}</th>
                    <th>{{ _("Description") }}</th>
                    <th class="text-center">{{ _("Total") }}</th>
                    <th class="text-center">{{ _("Is Advance") }}</th>
                </tr>
                {% for ex in doc.expenses %}
                <tr>
                    <td>{{ ex.expense }}</td>
                    <td>{{ ex.expense_item }}</td>
                    <td>{{ ex.description }}</td>
                    <td class="text-center">{{ ex.get_formatted("total") }}</td>
                    <td class="text-center">{{ _("Yes") if cint(ex.is_advance) else _("No") }}</td>
                </tr>
                {%- endfor -%}
            </table>
        </div>
    </div>
    {% if doc.remarks %}
    <div class="row mt-2">
        <div class="col-xs-12 col-md-4">
            <label class="text-left strong">{{ _("Remarks") }}</label>
        </div>
        <div class="col-xs-12 col-md-8 text-justify">{{ doc.remarks }}</div>
    </div>
    {% endif %}
    {% if doc.reviewer %}
    <hr/>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <label class="text-left strong">{{ _("Reviewer") }}</label>
        </div>
        <div class="col-xs-3 col-md-4">{{ doc.reviewer }}</div>
        <div class="col-xs-3 col-md-2">
            <label class="text-left strong">{{ _("Status") }}</label>
        </div>
        <div class="col-xs-3 col-md-4">{{ doc.status }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <label class="text-left strong">{{ _("Date") }}</label>
        </div>
        <div class="col-xs-3 col-md-4">{{ frappe.utils.format_date(doc.modified) }}</div>
        <div class="col-xs-6 col-md-6"></div>
    </div>
    {% endif %}
</div>