{%- from "templates/print_formats/standard_macros.html" import add_header -%}
<style>
    .table-bordered td.top{border-top: none !important;}
    .table-bordered td.bottom{border-bottom: none !important;}
    .table-bordered td.right{border-right: none !important;}
    .table-bordered td.left{border-left: none !important;}
</style>
<div>
    {%- if not doc.get("select_print_heading")
        and doc.set("select_print_heading", _("Expense")) -%}{%- endif -%}
    {{ add_header(0, 1, doc, None, no_letterhead, print_settings) }}
    <div class="row margin-bottom">
        <div class="col-xs-6">
            <table>
                <tr><td><strong>{{ _("Name") }}: </strong></td><td>{{ doc.name }}</td></tr>
                <tr><td><strong>{{ _("Company") }}: </strong></td><td>{{ doc.company }}</td></tr>
                <tr><td><strong>{{ _("Expense Item") }}: </strong></td><td>{{ doc.expense_item }}</td></tr>
                <tr><td><strong>{{ _("Expense Account") }}: </strong></td><td>{{ doc.expense_account }}</td></tr>
            </table>
        </div>
        <div class="col-xs-6">
            <table>
                <tr><td><strong>{{ _("Creator") }}: </strong></td><td>{{ doc.owner }}</td></tr>
                <tr><td><strong>{{ _("Posting Date") }}: </strong></td><td>{{ frappe.utils.format_date(doc.creation) }}</td></tr>
                <tr><td><strong>{{ _("Required By") }}: </strong></td><td>{{ frappe.utils.format_date(doc.required_by) }}</td></tr>
                {% if doc.project %}
                <tr><td><strong>{{ _("Project") }}: </strong></td><td>{{ doc.project }}</td></tr>
                {% endif %}
                {% if doc.party_type and doc.party %}
                <tr><td><strong>{{ _("Party Type") }}: </strong></td><td>{{ doc.party_type }}</td></tr>
                <tr><td><strong>{{ _("Party") }}: </strong></td><td>{{ doc.party }}</td></tr>
                {% endif %}
                {% if cint(doc.is_paid) and doc.paid_by %}
                <tr><td><strong>{{ _("Paid By") }}: </strong></td><td>{{ doc.paid_by }}</td></tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-xs-12">
            <strong>{{ _("Details") }}</strong>
        </div>
    </div>
    <div class="margin-top">
        <table class="table table-bordered table-condensed">
            <tr>
                <td class="right">{{ _("Cost") }}</td>
                <td class="right text-center">{{ frappe.format(doc.cost, {fieldtype: "Currency", options: "currency"}) }}</td>
                <td class="right">{{ _("Quantity") }}</td>
                <td class="right text-center">{{ frappe.format(doc.qty, {fieldtype: "Float", precision: "4"}) }}</td>
                <td class="right">{{ _("Total") }}</td>
                <td class="right text-center">{{ frappe.format(doc.total, {fieldtype: "Currency", options: "currency"}) }}</td>
                <td class="right">{{ _("Advance") }}</td>
                <td class="text-center">{{ _("Yes") if cint(doc.is_advance) else _("No") }}</td>
            </tr>
            {% if doc.description %}
            <tr>
                <td class="left right top bottom" colspan="8"><strong>{{ _("Description") }}</strong></td>
            </tr>
            <tr>
                <td class="left right top bottom text-justify" colspan="8">{{ doc.description }}</td>
            </tr>
            {% endif %}
        </table>
    <div>
</div>